<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOOKSHOP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
</head>
<body>
<h3>{{ user }}</h3>
{% for b in context %}
<h1>{{ b.title }}</h1>
<h4> {{ b.description}} </h4>
<h2>{{ b.date }}</h2>
<h4> <i>{{ b.authors.all }}</i></h4>
<a href="{% url 'add_like' id=b.id %}"><h3> likes: {{ b.likes }} </h3></a>

        <br><br>
        {% for a in b.book_comment.all %}
            <h4>{{ a.comment }}</h4>
            <h5>{{ a.date }}</h5>
            <h6>{{ a.author }} </h6>
            <a href="{% url 'comment_like' id=a.id %}"><h5>Likes: {{ a.likes }}</h5></a>

        {% endfor %}
<br><br>

{% endfor %}
</body>
</html>