<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOOKSHOP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style> .checked {color: orange;} </style>
</head>
<body>
<div class="container">
<h3>{{ user }}</h3>
{% if not request.user.is_authenticated %}
<a href="{% url 'login' %}"> Login </a>
{% endif %}
<a href = "{% url 'genre_page' genre='Adventure' %}"> Adventure </a>
{% for b in books %}
    <a href="{% url 'book-detail-page' slug=b.slug %}"><h1>{{ b.title }}</h1></a>
    <h4> {{ b.description}} </h4>
    <h2>{{ b.date }}</h2>
    <h4> authors: </h4>
        {% for i in b.authors.all %}
            <h4><i> {{ i }}</i></h4>
            {% endfor %}
    {% for i in range %}
        {% if b.rate >= i %}
        <a href="{% url 'add_rating' slug=b.slug rate=i %}">
        <span class="fa fa-star checked"></span>
        </a>
        {% else %}
        <a href="{% url 'add_rating' slug=b.slug rate=i  %}">
        <span class="fa fa-star" href="{% url 'add_rating' rate=i slug=b.slug %}"></span>
        </a>
        {% endif %}
    {% endfor %}
     {{ b.rate }}

    <br>
{% endfor %}
{% if user.is_authenticated %}
<form action="{% url 'add_book' %}" method="post">
 {% csrf_token %}
 {{ form }}
    <input type="submit" name="Отправить" value="OK">
</form>
{% endif %}

</div>

</body>
</html>